# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# IDE configuration files
.vscode/
.idea/

# OS-specific files
.DS_Store

# Test files
test.json

# Local secrets and variables (if any)
*.local
